.line_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 0.0625rem;
  background: hsl(223, 19%, 93%);
}

.reply_card {
  width: 94%;
  margin-bottom: 0.9rem;
}

.user {
  display: flex;
  align-items: center;
}

.user h1 {
  margin: 0 0.6rem;
  font-size: 1.05rem;
  font-weight: 500;
}

.user_image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.you {
  margin-left: 0.2rem;
  padding: 0.15rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.2rem;
  background: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
}

.user p {
  margin: 0;
  font-size: 1rem;
}

p {
  margin-bottom: 1.2rem;
  line-height: 1.3;
  color: hsl(211, 10%, 45%);
}

span {
  font-weight: 500;
  color: hsl(238, 40%, 52%);
}

.vote_reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote {
  height: 2.8rem;
  width: 6.2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: hsl(228, 33%, 97%);
}

.vote h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: hsl(238, 40%, 52%);
}

.plus {
  height: 1.2rem;
  width: 1.2rem;
  background: url(../../../public/assets/icon-plus.svg) no-repeat center;
}

.minus {
  height: 1.2rem;
  width: 1.2rem;
  background: url(../../../public/assets/icon-minus.svg) no-repeat center;
}

.delete_edit {
  display: flex;
}

.delete {
  padding: 0;
  width: 4.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(358, 79%, 66%);
  background: url(../../../public/assets/icon-delete.svg) no-repeat center;
  background-position: left center;
}

.edit {
  padding: 0;
  width: 4.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(238, 40%, 52%);
  background: url(../../../public/assets/icon-edit.svg) no-repeat center;
  background-position: left center;
}

.delete:hover,
.edit:hover {
  opacity: 0.5;
}

.reply {
  width: 5.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: hsl(238, 40%, 52%);
  background: url(../../../public/assets/icon-reply.svg) no-repeat;
  background-position: left center;
}

.reply:hover {
  opacity: 0.5;
}

.modal {
  width: 92%;
  max-width: 22rem;
  margin: 0;
  padding: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.modal h1 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
  color: hsl(212, 24%, 26%);
}

.modal p {
  font-size: 1.05rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.no {
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  background: hsl(211, 10%, 45%);
  text-transform: uppercase;
}

.yes {
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  background: hsl(358, 79%, 66%);
  text-transform: uppercase;
}

.edit_reply {
  margin-top: 1rem;
}

.edit_reply input {
  width: 100%;
  padding: 1rem 1rem 4rem;
  font-size: 1rem;
  font-family: inherit;
  border: 0.07rem solid hsl(223, 19%, 93%);
  border-radius: 0.5rem;
  color: hsl(211, 10%, 45%);
  outline: transparent;
}

.profile_button {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_profile {
  height: 2.5rem;
  width: 2.5rem;
  background: url(../../../public/assets/avatars/image-juliusomo.png) no-repeat
    center;
  background-size: cover;
}

.button {
  margin-top: 0.9rem;
  text-align: center;
}

.send {
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  color: hsl(0, 0%, 100%);
  background: hsl(238, 40%, 52%);
  text-transform: uppercase;
}

.send:hover {
  opacity: 0.5;
}

@media (max-width: 330px) {
  .user h1 {
    font-size: 0.9rem;
  }

  .user p {
    font-size: 0.8rem;
  }

  .you {
    margin-left: 0.3rem;
    padding: 0.15rem 0.3rem;
    font-size: 0.6rem;
  }

  .user_image {
    height: 2rem;
    width: 2rem;
  }

  .vote {
    height: 2.5rem;
    width: 5.7rem;
  }

  .delete,
  .edit {
    width: 4rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .modal {
    padding: 1rem;
  }

  .modal h1 {
    font-size: 1.1rem;
  }

  .modal p {
    font-size: 0.9rem;
  }

  .no,
  .yes {
    font-size: 0.8rem;
  }
}

@media (max-width: 313px) {
  .user h1 {
    margin: 0 0.7rem;
    font-size: 0.8rem;
  }

  .user p {
    font-size: 0.7rem;
  }

  .vote {
    height: 2.2rem;
    width: 5.4rem;
  }

  .vote h2 {
    font-size: 0.9rem;
  }

  .reply {
    width: 5rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 313px) {
  .user h1 {
    font-size: 0.8rem;
  }

  p,
  .user p {
    font-size: 0.8rem;
  }

  .vote {
    height: 2.2rem;
    width: 5rem;
  }

  .vote h2 {
    font-size: 0.9rem;
  }

  .reply {
    width: 5rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .reply_card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(1rem, auto);
  }

  .vote_reply {
    grid-column: 1/13;
    grid-row: 1;
    align-items: flex-start;
  }

  .vote {
    grid-column: 1;
    grid-row: 1;
    height: 5.6rem;
    width: 2.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .user {
    margin-bottom: 2rem;
    grid-column: 2/10;
    grid-row: 1;
  }

  .user_image {
    height: 2rem;
    width: 2rem;
  }

  .reply {
    margin-top: 1rem;
  }

  .content {
    margin: -2.5rem 0 0;
    font-size: 0.9rem;
    grid-column: 2/13;
    grid-row: 2;
  }

  .edit_reply {
    margin-top: -0.5rem;
  }

  .edit_reply form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(1rem, auto);
  }

  .edit_reply input {
    grid-column: 2/11;
    grid-row: 1;
    z-index: 2;
  }

  .profile_button {
    margin: 0;
    grid-column: 1/13;
    grid-row: 1;
    align-items: flex-start;
  }
}
