@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 1.2rem;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background: hsl(228, 33%, 97%);
}

button {
  border: none;
  background: transparent;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

@media (max-width: 360px) {
  body {
    padding: 2rem 1rem;
  }
}

@media (max-width: 313px) {
  body {
    padding: 2rem 0.5rem;
  }
}

@media (min-width: 400px) {
  body {
    padding: 2rem;
  }
}

@media (min-width: 550px) {
  body {
    padding: 2rem 3rem;
  }
}

@media (min-width: 600px) {
  body {
    padding: 3rem 5rem;
  }
}

@media (min-width: 750px) {
  body {
    padding: 3rem 7rem;
  }
}

@media (min-width: 900px) {
  body {
    padding: 3rem 9rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 3rem 14rem;
  }
}

@media (min-width: 1100px) {
  body {
    padding: 3rem 17rem;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 3rem 20rem;
  }
}
